<div class="insight">


<!-- left side -->

<div class="ins-left">

    <!-- image section -->
    <div class="left-ins-img"></div>

    <!-- content -->
    <div class="left-ins-content"></div>

</div>

<!-- right side -->

<div class="ins-right">

    <!-- content -->
    <div class="right-ins-content"></div>

    <!-- images section -->

    <div class="right-ins-img">
        <!-- img1 -->
    <div class="right-ins-img-1"></div>

    <!-- img2 -->
    <div class="right-ins-img-2"></div>
    </div>

    <!-- swiper -->
    <div class="ins-swipe"></div>

    
</div>

</div>