<link
  href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap"
  rel="stylesheet"
/>

<!--Tailwind CSS-->
<script src="https://cdn.tailwindcss.com"></script>

<!--Tailwind CSS-->

<!--Font-Awesome-->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
  integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>

<app-navbar></app-navbar>


<div class="insight">
  <!-- left side -->

  <div class="ins-left">
    <!-- image section -->
    <div
      class="left-ins-img"
      style="
        background-image: url('../../../assets/ins1.png');
        background-size: 100% 100%;
        background-position: center;
        justify-content: center;
        align-items: center;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
      "
    >
      <h1>COMMUNICATION</h1>
    </div>

    <!-- content -->
    <div class="left-ins-content">
      <ul class="words words-1 clrblck">
        <li>
          Research suggests that around <span class="percentage">78%</span> of
          businesses believe diversity is a key driver of innovation and growth.
        </li>
        <li>
          Companies with diverse management are approximately
          <span class="percentage">21%</span> more likely to outperform those
          with homogeneous leadership in terms of profitability.
        </li>
        <li>
          Studies show that organizations with diverse teams are roughly
          <span class="percentage">35%</span> more likely to have financial
          returns above the industry median.
        </li>
        <li>
          Businesses with diverse workforces see an increase of about
          <span class="percentage">45%</span> in market share growth.
        </li>
        <li>
          According to research, companies in the top quartile for gender
          diversity are approximately <span class="percentage">25%</span> more
          likely to have above-average profitability than those in the bottom
          quartile.
        </li>
      </ul>
    </div>
  </div>

  <!-- right side -->

  <div class="ins-right">
    <!-- content -->
    <div class="right-ins-content">
      <ul class="words words-1 clrblck">
        <li>
          Diverse teams are approximately
          <span class="percentage">20%</span> more likely to make better
          decisions than homogeneous teams.
        </li>
        <li>
          Organizations with inclusive cultures experience an increase of about
          <span class="percentage">75%</span> in employee engagement.
        </li>
        <li>
          Companies that prioritize diversity in hiring have approximately a
          <span class="percentage">33%</span> higher likelihood of achieving
          better financial performance.
        </li>
        <li>
          Research indicates that diverse teams are approximately
          <span class="percentage">66%</span> more likely to understand and meet
          customer needs.
        </li>
        <li>
          According to studies, inclusive companies are approximately
          <span class="percentage">120%</span> more likely to have teams that
          are high-performing.
        </li>
      </ul>
    </div>

    <!-- images section -->

    <div class="right-ins-img">
      <!-- img1 -->
      <div
        class="right-ins-img-1"
        style="
          background-image: url('../../../assets/ins2.png');
          background-size: cover;
          background-position: center;
          justify-content: center;
          align-items: center;
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;
        "
      >
        <h1>PROGRESS</h1>
      </div>

      <!-- img2 -->
      <div
        class="right-ins-img-2"
        style="
          background-image: url('../../../assets/ins3.png');
          background-size: cover;
          background-position: center;
          justify-content: center;
          align-items: center;
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;
        "
      >
        <h1>TECH</h1>
      </div>
    </div>

    <!-- swiper -->
    <div class="ins-swipe">
      <div id="carouselExample" class="carousel slide custom">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <h2>1. Global Business Performance Boost:</h2>
            <p>
              In today's interconnected world, businesses are expanding
              internationally to tap into new markets. However, language
              barriers often hinder communication and limit growth potential. By
              leveraging the language industry, companies can bridge these gaps,
              ensuring effective communication with customers, partners, and
              employees worldwide. This enhances collaboration, drives
              innovation, and ultimately boosts performance and profitability on
              a global scale.
            </p>
          </div>
          <div class="carousel-item">
            <h2>2. Maximizing Returns:</h2>

            <p>
              The Language Advantage: Investing in linguistic expertise yields
              significant returns for businesses. Multilingual professionals
              facilitate smoother operations, improve customer satisfaction, and
              increase market penetration. With accurate language translation
              and cultural understanding, companies can tailor their products
              and services to diverse audiences, leading to higher sales and
              greater brand loyalty. This results in enhanced returns on
              investment and sustainable growth in competitive markets.
            </p>
          </div>
          <div class="carousel-item">
            <h2>3. Expanded Business Opportunities:</h2>

            <p>
              Language industry expertise opens doors to new business
              opportunities. Companies with multilingual capabilities can
              explore untapped markets, forge strategic partnerships, and
              negotiate lucrative deals with global counterparts. Being able to
              communicate effectively in various languages enables businesses to
              seize opportunities in emerging economies and establish a strong
              presence on the global stage.
            </p>
          </div>
          <div class="carousel-item">
            <h2>4. Cultural Competence and Brand Image:</h2>

            <p>
              Language proficiency goes beyond mere communication; it reflects
              cultural sensitivity and respect. Businesses that prioritize
              language industry expertise demonstrate cultural competence,
              earning trust and respect from international stakeholders. This
              fosters a positive brand image and strengthens customer
              relationships, laying the foundation for long-term success and
              sustainability in the global marketplace.
            </p>
          </div>
          <div class="carousel-item">
            <h2>5. India's Role as a Hub for Linguistic Experts:</h2>

            <p>
              With its diverse linguistic landscape and growing economy, India
              is poised to become a base for linguistic experts with regional
              and foreign language expertise. The country's rich linguistic
              heritage provides a talent pool proficient in numerous Indian
              languages, while its focus on education and technology equips
              professionals with foreign language skills. India's strategic
              location, coupled with its cost-effective services, makes it an
              attractive destination for global businesses seeking linguistic
              support. By harnessing India's linguistic talent, companies can
              access high-quality language services while benefiting from cost
              efficiencies, driving growth and innovation in the language
              industry.
            </p>
          </div>
        </div>

        <div class="icon-container">
          <button
            style="width: 50%; margin-right: 1rem"
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExample"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            style="width: 50%"
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExample"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<footer
  class="text-center text-lg-start text-muted"
  style="font-family: 'Poppins', sans-serif"
>
  <div class="text-center text-md-start m-5">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-lg-4 col-md-12 mb-5 mb-md-0 about-us">
        <h6 class="text-uppercase fw-bold mb-4">About Us</h6>

        <p class="footer-para-about-us">
          Recrutory, powered by
          <img class="logo-link" src="assets/verbiq_logo.png" alt="" /> AI,
          specializes in the multilingual recruitment, global talent search, and
          advanced assessment and screening. We connect businesses in India and
          worldwide with top-tier professionals, leveraging our extensive
          network and cutting-edge technology to ensure unparalleled talent
          matches.
        </p>
      </div>
      <!-- Grid column -->

      <div
        class="col-lg-4 col-md-12 mb-5 mb-md-0 quick-links about-us"
        style="position: relative; right: -5rem"
      >
        <h6 class="text-uppercase fw-bold mb-4">Quick links</h6>
        <p>
          <a href="verbiq" class="text-reset text-decoration-none random"
            ><img class="logo-link" src="assets/verbiq_logo.png" alt=""
          /></a>
        </p>
        <p>
          <a href="team" class="text-reset text-decoration-none random"
            >Meet our Team</a
          >
        </p>
        <p>
          <a href="#!" class="text-reset text-decoration-none random"
            >Media & Press Release</a
          >
        </p>
      </div>

      <!-- Grid column -->
      <div class="col-lg-4 col-md-12 about-us">
        <h6 class="text-uppercase fw-bold mb-4">Contact Us</h6>
        <p>
          <i class="fas fa-home me-3" id="footer-address"></i>Corp. Off. No 16A,
          Floor 2, Tower A, Downtown City Vista, Fountain Road, Ashoka Nagar,
          Kharadi, Pune – 411014
        </p>
        <p><i class="fas fa-envelope me-3"></i> hr&#64;recrutory.com</p>
        <p><i class="fas fa-phone me-3"></i> +91 9373902341</p>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>

  <div class="container pt-4 text-center">
    <section class="mb-4">
      <!-- Facebook -->
      <a
        data-mdb-ripple-init
        class="btn btn-link btn-floating text-body m-1 random"
        target="_blank"
        href="https://www.facebook.com/profile.php?id=61556404210113"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-facebook-f iconf"></i
      ></a>

      <!-- Twitter -->
      <a
        data-mdb-ripple-init
        class="btn btn-link btn-floating text-body m-1 random"
        target="_blank"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><img width="22px" height="22px" src="assets/twitter.svg" />
      </a>

      <!-- Google -->
      <a
        data-mdb-ripple-init
        class="btn btn-link btn-floating text-body m-1 random"
        target="_blank"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><img width="15px" height="17px" src="assets/google.svg" />
      </a>

      <!-- Instagram -->
      <a
        data-mdb-ripple-init
        class="btn btn-link btn-floating text-body m-1 random"
        target="_blank"
        href="https://www.instagram.com/recrutory/?hl=en"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-instagram iconinsta"></i
      ></a>

      <!-- Linkedin -->
      <a
        data-mdb-ripple-init
        class="btn btn-link btn-floating text-body m-1 random"
        target="_blank"
        href="https://www.linkedin.com/company/recrutorycompany/"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-linkedin iconlinkdin"></i
      ></a>
    </section>
    <!-- Section: Social media -->

    <div class="text-center">&#64; 2024 TalentAxisPro Private Limited</div>
  </div>
</footer>
<!-- Footer -->
