<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
  integrity="sha512-..."
  crossorigin="anonymous"
/>

<!-- hr solutions section  -->

<div class="container1">
  <div
    class="left"
    style="
      background-image: url('assets/hr-solution - 1.png');
      height: 100vh;
      background-size: cover;
      background-position: center;
    "
  >
    <div class="heading">
      <h2>Comprehensive HR Solutions</h2>
    </div>
    <div class="divider"></div>

    <div class="content1">
      <!-- card 1 -->
      <div class="cards">
        <img src="assets/vector1.png" alt="Image 1" />
        <div class="inner">
          <h3>Multilingual Recruitment:</h3>
          <p>
            Bridging borders, sourcing top global talent across languages for
            business excellence.
          </p>
        </div>
      </div>

      <!-- card 2 -->
      <div class="cards">
        <img src="assets/vector2.png" alt="Image 1" />
        <div class="inner">
          <h3>Industry Expertise:</h3>
          <p>
            Deep industry knowledge empowers clients to stay competitive in
            evolving business landscapes.
          </p>
        </div>
      </div>

      <!-- card 3 -->
      <div class="cards">
        <img src="assets/vector3.png" alt="Image 3" />
        <div class="inner">
          <h3>Global Talent Search:</h3>
          <p>
            Unlocking potential worldwide, delivering top-notch multilingual
            talent to drive success.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div
    class="right"
    style="
      background-image: url('assets/hr-solution - 2.png');
      height: 100vh;
      background-size: cover;
      background-position: center;
    "
  >
    <div class="content2">
      <!-- card 4 -->
      <div class="cards" id="content2-first-card">
        <img class="img-content2" src="assets/vector4.png" alt="Image 4" />
        <div>
          <h3>Workforce analytics and Executive Search:</h3>
          <p>
            Drive strategic talent decisions with workforce analytics, while our
            executive search ensures industry leadership by identifying top-tier
            professionals.
          </p>
        </div>
      </div>

      <!-- card 5 -->
      <div class="cards">
        <img class="img-content2" src="assets/vector5.png" alt="Image 5" />
        <div>
          <h3>Assessment and Screening:</h3>
          <p>
            Redefine hiring with personalized assessments and AI-driven
            screenings that seamlessly align skills and culture. Our tailored
            evaluations ensure informed hiring decisions for success.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- scrolling section -->

<div
  class="scroller"
  data-speed="fast"
  (mouseenter)="pauseAnimation()"
  (mouseleave)="resumeAnimation()"
>
  <ul class="tag-list scroller__inner">
    <li>MULTILINGUAL PROFICIENCY</li>
    <li>GLOBAL TALENT ACQUISITION</li>
    <li>CROSS-CULTURAL COMMUNICATION</li>
    <li>FIT WITH COMPANY CULTURE</li>
    <li>MULTILINGUAL PROFICIENCY</li>
    <li>GLOBAL TALENT ACQUISITION</li>
    <li>CROSS-CULTURAL COMMUNICATION</li>
    <li>FIT WITH COMPANY CULTURE</li>
  </ul>
</div>

<!-- above footer section -->

<div
  class="above-footer-container"
  style="
    background-image: url('assets/justabovefooter.png');
    height: 100vh;
    background-size: cover;
    background-position: center;
  "
>
  


  <div class="left-side">
    <img src="assets/up-footer-right.svg" alt="Image" />
  </div>
  <div class="right-side">
    <ul>
      <li>
        <p>
          At Recrutory, we leverage data-driven and intelligent systems to
          revolutionize the recruitment process, ensuring precision and
          efficiency at every step.
        </p>
      </li>
      <li class="divider">
        <div class="horizontal-divider"></div>
      </li>
      <li>
        <p>
          With AI intervention and thorough screening protocols, we meticulously
          analyze candidate data to present only the best-suited candidates for
          your organization's needs.
        </p>
      </li>
      <li class="divider">
        <div class="horizontal-divider"></div>
      </li>
      <li>
        <p>
          Our commitment to employing AI-driven technologies guarantees that we
          deliver the most qualified candidates, backed by thorough screening
          processes, to elevate your team's success.
        </p>
      </li>
    </ul>
  </div>
</div>

<!-- Footer -->
<footer
  class="text-center text-lg-start text-muted"
  style="font-family: 'Poppins', sans-serif"
>
  <div class="text-center text-md-start m-5 p-4">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-lg-4 col-md-12 mb-5 mb-md-0">
        <h6 class="text-uppercase fw-bold mb-4">About Us</h6>

        <p class="footer-para-about-us">
          Recrutory, powered by VerbiQ AI, specializes in multilingual
          recruitment, global talent search, and advanced assessment and
          screening. We connect businesses in India and worldwide with top-tier
          professionals, leveraging our extensive network and cutting-edge
          technology to ensure unparalleled talent matches.
        </p>
      </div>
      <!-- Grid column -->

      <div
        class="col-lg-4 col-md-12 mb-5 mb-md-0 quick-links"
        style="position: relative; right: -5rem"
      >
        <h6 class="text-uppercase fw-bold mb-4">Quick links</h6>
        <p>
          <a href="#!" class="text-reset text-decoration-none">VerbiQ</a>
        </p>
        <p>
          <a href="#!" class="text-reset text-decoration-none">Blogs</a>
        </p>
        <p>
          <a href="#!" class="text-reset text-decoration-none"
            >Media & Press Releases</a
          >
        </p>
      </div>

      <!-- Grid column -->
      <div class="col-lg-4 col-md-12">
        <h6 class="text-uppercase fw-bold mb-4">Contact Us</h6>
        <p>
          <i class="fas fa-home me-3" id="footer-address"></i>Corp. Off. No 11B,
          Floor 6, Tower A, Downtown City Vista, Fountain Road, Ashoka Nagar,
          Kharadi, Pune – 411014
        </p>
        <p><i class="fas fa-envelope me-3"></i> hr&#64;recrutory.com</p>
        <p><i class="fas fa-phone me-3"></i> +91 9373902341</p>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>

  <div class="container pt-4 text-center">
    <section class="mb-4">
      <!-- Facebook -->
      <a
        data-mdb-ripple-init
        class="btn btn-link btn-floating text-body m-1"
        target="_blank"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a
        data-mdb-ripple-init
        class="btn btn-link btn-floating text-body m-1"
        target="_blank"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a
        data-mdb-ripple-init
        class="btn btn-link btn-floating text-body m-1"
        target="_blank"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a
        data-mdb-ripple-init
        class="btn btn-link btn-floating text-body m-1"
        target="_blank"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a
        data-mdb-ripple-init
        class="btn btn-link btn-floating text-body m-1"
        target="_blank"
        href="https://www.linkedin.com/company/recrutorycompany/"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-linkedin"></i
      ></a>
    </section>
    <!-- Section: Social media -->

    <div class="text-center">&#64; 2024 Chalkboard Academy Private Limited</div>
  </div>
</footer>
<!-- Footer -->
