
.background {
  background-image: url("/assets/background.png");
  background-size: cover;
  background-position: center;
  height: auto;
  justify-content: center;
  align-items: center;
}
nav {
  text-align: center;
  align-items: center;
  justify-content: center;

  /* position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #ffffff; */
}
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #61bdee;
  padding-bottom: 5px;
  color: #022b41;
}
.navbar-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem 0rem 0rem;
}
.navbar-links ul {
  display: flex;
  text-align: center;
}
.navbar-links ul li {
  list-style-type: none;
  padding: 0rem 4rem;
}
.navbar-links a {
  text-decoration: none;
  color: #022b41;
}

@media screen and (max-width: 692px) {
  .navbar-links ul li {
    padding: 0rem 2rem;
  }
}
@media screen and (max-width: 497px) {
  .navbar-links ul {
    padding-left: 0px;
  }
  .navbar-links ul li {
    padding: 0rem 1rem;
  }
}
@media screen and (max-width: 397px) {
  .navbar-links ul {
    padding-left: 0px;
  }
  .navbar-links ul li {
    padding: 0rem 0.5rem;
  }
}

/* Apply styles for active link when clicked */
.navbar-links ul li a:active,
.navbar-links ul li a:hover {
  padding: 0px 0px 10px;
  border-bottom: 3px solid #022b41;
  border-radius: 20%;
}

/* ------cover page section ---------- */

.coverpage {
  font-family: "Poppins", sans-serif;
  padding: 5rem 10rem 9rem;
  text-align: center;
}
.coverpage h1,
h4,
p {
  color: #02465b;
}
.coverpage h1 {
  margin-bottom: 40px;
}
.coverpage h4 {
  font-style: italic;
}
.coverpage p {
  font-size: 25px;
  margin-bottom: 60px;
}
.liquid-button {
  font-size: 16px;
  color: black;
  background: transparent;
  border: none;
  text-transform: uppercase;
  padding: 5px 20px;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  transition: 0.2s;
  transform: scale(1); /* Adjusted for better visibility */
  cursor: pointer;
  outline: none; /* Remove the focus border */
}

.liquid-button span {
  position: relative;
  z-index: 0;
  color: black;
}

.liquid-button .liquid {
  position: absolute;
  top: -60px;
  left: 0;
  width: 100%;
  height: 200px;
  background: #02586f;
  box-shadow: inset 0 0 50px white;
  z-index: -1;
  transition: 0.6s;
}

.liquid-button .liquid::after,
.liquid-button .liquid::before {
  position: absolute;
  content: "";
  width: 200%;
  height: 200%;
  top: 0;
  left: 0;
  transform: translate(-25%, -75%);
}

.liquid-button .liquid::after {
  border-radius: 45%;
  background: white;
  box-shadow: 0 0 10px 5px #02586f, inset 0 0 5px #02586f;
  animation: animate 5s linear infinite;
  opacity: 0.8;
}

.liquid-button .liquid::before {
  border-radius: 40%;
  background: #02586f;
  box-shadow: 0 0 10px rgba(26, 26, 26, 0.5),
    inset 0 0 5px rgba(26, 26, 26, 0.5);
  animation: animate 7s linear infinite;
}

@keyframes animate {
  0% {
    transform: translate(-25%, -75%) rotate(0);
  }
  100% {
    transform: translate(-25%, -75%) rotate(360deg);
  }
}

.liquid-button:hover .liquid {
  top: -120px;
}

.liquid-button:hover {
  box-shadow: 0 0 5px #7293ff, inset 0 0 5px #7293ff;
  transition-delay: 0.2s;
}

.simple-button {
  font-size: 16px;
  color: black;
  background: transparent;
  border: none;
  text-transform: uppercase;
  padding: 5px 20px;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  transition: 0.2s;
  transform: scale(1);
  cursor: pointer;
  outline: none;
  background-color: white;
  margin-left: 2rem;
}
.simple-button:hover {
  background-color: #02586f;
  color: white;
}
@media screen and (max-width: 1052px) {
  .coverpage p {
    font-size: 23px;
  }
}
@media screen and (max-width: 915px) {
  .simple-button {
    margin-left: 0px;
    margin-top: 1rem;
  }
  .coverpage {
    padding: 0rem 1rem;
  }
  .coverpage p {
    font-size: 23px;
  }
}
@media screen and (max-width: 764px) {
  .col-md-6 {
    margin: 5rem 0rem 2rem;
  }
  .simple-button {
    margin-left: 25px;
    margin-top: 1rem;
  }
  .coverpage {
    padding: 0rem 2rem;
  }
  .coverpage p {
    font-size: 21px;
  }
}
@media screen and (max-width: 454px) {
  .simple-button {
    margin-left: 0px;
    margin-top: 1rem;
  }
  .coverpage {
    padding: 5rem 0rem 10rem;
  }
  .coverpage p {
    font-size: 19px;
  }
}

/* verbiQ page section */
.verbiq-page {
  text-align: center;
  padding-bottom: 1.5rem;
}
.verbiq-page img {
  height: 100px;
  width: 280px;
}
.verbiq-page h3 {
  margin-top: 1.6rem;
  color: #032030;
  font-family: "Poppins", sans-serif;
}
@media screen and (max-width: 764px) {
  .verbiq-page img {
    height: 85px;
    width: 250px;
  }
}

/* multiple tabs  */

.multiple-tabs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-family: "Poppins", sans-serif;
}

@media (min-width: 600px) {
  .multiple-tabs {
    padding: 60px 10px;
  }
}

.panel p {
  margin-top: 20px;
  margin-bottom: 0;
  padding: 0;
  font-size: 20px;
  line-height: 1.5;
  color: black;
}
.tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0.5rem 0rem 0rem;
  max-width: 80%;
  /* background-color: #134662; */
  /* background-color: #aedceb; */
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.21);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.09);
  color: black;
  box-shadow: 0 48px 80px -32px rgba(0, 0, 0, 0.3);
  border-radius: 18px 18px 0px 0px;
}
.input {
  position: absolute;
  opacity: 0;
}
.label {
  width: 100%;
  padding: 20px 30px;
  cursor: pointer;
  /* font-weight: bold; */
  font-size: 18px;
  background:#02465b;
  color: #c1d9e0;
  transition: background 0.8s, color 0.1s;
  border-radius: 20px 20px 20px 20px;
}
#label1 {
  border-radius: 17px 20px 20px 20px;
}
#label4 {
  border-radius: 20px 20px 20px 20px;
}
.label:hover {
  background:#b1d7e2;
  color: #02465b;
}
.label:active {
  background: #ccc;
}
.input:focus + .label {
  z-index: 1;
}
.input:checked + .label {
  background: rgba(255, 255, 255, 0.21);
  color: black;
  font-weight: bold;
}


@media (max-width: 1420px) {
  .label {
    padding: 15px 15px;
    border-radius: 9px;
  }
  #label1, #label4{
    border-radius: 9px;
  }
}
@media (min-width: 1001px) and (max-width: 1269px) {
  .label {
    padding: 15px 11px;
    border-radius: 9px;
    font-size: 15px;
  }
  #label1, #label4{
    border-radius: 7px;
  }
  .panel p{
    font-size: 15px;
  }
}
@media (min-width: 1000px) {
  .label {
    width: auto;
  }  
}
.panel {
  display: none;
  padding: 20px 30px 30px;
  color: black;
}
@media (min-width: 1000px) {
  .panel {
    order: 99;
  }
}
.input:checked + .label + .panel {
  display: block;
}

.know-more {
  /* background-color: #aedceb; */
  background-color: #134662;
  padding: 1rem 1rem 0rem;
  margin: 0rem 0rem 5rem;
  width: 80%;
  text-align: right;
  align-items: center;
  justify-content: center;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.know-more p {
  cursor: pointer;
  color: white;
}
.know-more p:hover {
  color: black;
}
@media screen and (max-width: 594px) {
  .label {
    border-radius: 20px 20px 20px 20px;
  }
  #label1 {
    border-radius: 20px 20px 20px 20px;
  }
  #label4 {
    border-radius: 20px 20px 20px 20px;
  }
}

/*--------------------------- Pointers section------------------ */

.vector-left {
  background-image: url("/assets/vector_left_bg.png");
  background-size: cover;
  background-position: center;
  font-family: "Poppins", sans-serif;
}

.vector-right {
  text-align: center;
  padding: 0rem 0rem;
  height: 82vh;
  background-image: url("/assets/hr-solution - 1.png");
  background-size: cover;
  background-position: center;
}

.content {
  padding: 20px 60px 20px;
  color: white;
}

@media (max-width: 1300px) {
  .vector-right {
    height: 55vh;
  }
}

@media (max-width: 768px) {
  .content {
    text-align: center;
  }
  .vector-right {
    padding: 0rem;
    height: 40vh;
  }
}
@media (max-width: 500px) {
  .vector-right {
    height: 30vh;
  }
}

/* FAQ Section */
.faq-item {
  margin-bottom: 20px;
  overflow: hidden;
}
.faq-question h3 {
  font-size: 22px;
  text-decoration: underline;
  transition: color 0.5s ease;
}

.faq-question {
  cursor: pointer;
  color: black;
}
.faq-question:focus {
  color: white;
}
.faq-question hr {
  color: black;
  background-color: black;
}

.faq-question.active {
  color: white;
}

.toggle-icon {
  float: right;
}

.faq-answer {
  margin-top: 10px;
  transition: max-height 0.5s ease;
  max-height: 0;
  overflow: hidden;
  text-align: left;
}

.faq-answer.open {
  max-height: 200px;
}
.faq-answer ul {
  list-style-type: disc;
  margin-left: 20px;
  font-size: 16px;
}

@media screen and (max-width: 970px) {
  .faq-answer {
    text-align: left;
  }
  .content {
    padding: 20px 10px 20px;
  }
}

.faq-question.active h3, .faq-question.active {
  color: white;
}

/* popup section css */
.custom-modal .modal-dialog {
  max-width: 70%;
  height: 80vh; /* 80% of the viewport height */
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Additional styling to ensure content within the modal is scrollable if needed */
.custom-modal .modal-content {
  overflow-y: auto;
}
