<link
  href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap"
  rel="stylesheet"
/>

<!--Tailwind CSS-->
<script src="https://cdn.tailwindcss.com"></script>

<!--Tailwind CSS-->

<!--Font-Awesome-->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
  integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>

<div
  class="background"
  style="
    background-image: url('https://res.cloudinary.com/dgvbilofn/image/upload/v1714020450/background_zceu6f.png');
    height: 100vh;
    background-size: cover;
    background-position: center;
    height: auto;
    justify-content: center;
    align-items: center;
  "
>
  <!-- navbar section -->

  <app-navbar></app-navbar>


  <!-- content starts here -->

  <div class="container py-5">
    <!-- title -->
    <div class="row text-center">
      <div class="col-lg-12 section-title">
        <h2>Our Team</h2>
      </div>
    </div>

    <!-- Founders section -->

    <section id="cards">
      <div class="container py-2">
        <div class="row">
          <!-- sheetal mam -->
          <div class="col-lg-4 col-md-4 mb-4 pt-5 team">
            <div class="card shadow-sm border-0 dflex sheetal-mam">
              <div class="card-body">
                <div class="user-picture">
                  <img
                    src="assets/Sheetal-mam.jpeg"
                    class="shadow-sm rounded-circle"
                    height="130"
                    width="130"
                  />
                </div>
                <div class="user-content">
                  <h3 class="text-capitalize user-name">Sheetal Ramkumar</h3>
                  <p
                    class="profile text-capitalize text-muted small blockquote-footer"
                  >
                    Founder & CEO
                  </p>
                  <p class="bio text-muted mt-4 mb-0">
                    Sheetal, CEO of Recrutory, brings two decades of education
                    experience and is celebrated among India's influential women
                    and business leaders. With an MBA from Symbiosis, a PG in PR
                    & Advertising from MICA, and a diploma in International
                    Telecom System Management from IIT Delhi. She's a powerhouse
                    in both business and technical domains. Recognized among the
                    21 Most Influential Women Leaders in India and the 10 Most
                    Inspiring Business Leaders, Sheetal is shaping the future of
                    Recrutory with her leadership and expertise.
                  </p>
                </div>
              </div>
              <div
                class="social"
                style="margin-left: 1rem; margin-bottom: 2rem"
              >
                <a
                  target="_blank"
                  href="https://www.linkedin.com/in/sheetal-ramkumar-093a82138/"
                  ><i class="fab fa-linkedin"></i
                ></a>
              </div>
            </div>
          </div>
          <!-- ram mam -->
          <div class="col-lg-4 col-md-4 mb-4 pt-5 team">
            <div class="card shadow-sm border-0 dflex ram-sir">
              <div class="card-body">
                <div class="user-picture">
                  <img
                    src="assets/Ram-sir.jpg"
                    class="shadow-sm rounded-circle"
                    height="130"
                    width="130"
                  />
                </div>
                <div class="user-content">
                  <h3 class="text-capitalize user-name">Ramkumar Kayarat</h3>
                  <p
                    class="profiletext-capitalize text-muted small blockquote-footer"
                  >
                    Founder & CHRO
                  </p>
                  <p class="bio text-muted mt-4 mb-0">
                    Ram, Recrutory's Chief People and Culture Officer, brings
                    over two decades of Telecom industry experience,
                    prioritizing customer-centric approaches. With a background
                    at Idea Cellular Ltd., Reliance Communications, and Tata
                    Communications, he's adept in learning development. Besides,
                    Ram is an avid football enthusiast, adventurer, cyclist,
                    trekker, and sports blogger. Holding an MBA from IIM
                    Ahmedabad and a PGCBM from XLRI Jamshedpur, he's committed
                    to fostering a collaborative internal culture at Recrutory
                    for mutual success.
                  </p>
                </div>
              </div>
              <div
                class="social"
                style="margin-left: 1rem; margin-bottom: 2rem"
              >
                <a
                  target="_blank"
                  href="https://www.linkedin.com/in/ram-kumar-kayarat-97952177/"
                  ><i class="fab fa-linkedin"></i
                ></a>
              </div>
            </div>
          </div>
          <!-- rahul sir -->
          <div class="col-lg-4 col-md-4 mb-4 pt-5 team">
            <div class="card shadow-sm border-0 dflex ram-sir">
              <div class="card-body">
                <div class="user-picture">
                  <img
                    src="assets/Rahul Singh.png"
                    class="shadow-sm rounded-circle"
                    height="130"
                    width="130"
                  />
                </div>
                <div class="user-content">
                  <h3 class="text-capitalize user-name">Rahul Singh</h3>
                  <p
                    class="profiletext-capitalize text-muted small blockquote-footer"
                  >
                    Co-Founder & COO
                  </p>
                  <p class="bio text-muted mt-4 mb-0">
                    With over 20 years of corporate experience,  Rahul ,the Co-founder & COO of Recrutory is a seasoned professional in operations management, process excellence, and leading diverse teams to achieve business goals. His expertise has been instrumental in transforming workflows, optimizing processes, and ensuring seamless project execution across industries. Armed with an MBA from IMT Ghaziabad, he combines academic rigor with strategic insight, driving innovation and operational success at Recrutory. His leadership style, marked by a commitment to excellence and continuous improvement, has been key to the company’s growth and its competitive edge in the recruitment industry.
                  </p>
                </div>
              </div>
              <!-- <div
                class="social"
                style="margin-left: 1rem; margin-bottom: 2rem"
              >
                <a
                  target="_blank"
                  href="https://www.linkedin.com/in/ram-kumar-kayarat-97952177/"
                  ><i class="fab fa-linkedin"></i
                ></a>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- divider -->
    <div class="astrodivider">
      <div class="astrodividermask"></div>
    </div>

    <!-- / divider -->

    <!-- members section -->

    <section id="cards">
      <div class="container py-2">
        <!-- cards -->

        <div class="row1">
          <!-- aditya sir member 1 -->
          <div class="col-lg-5 col-md-6 mb-4 pt-5 team subteam1">
            <div class="card shadow-sm border-0 member member1">
              <div class="card-body">
                <div class="user-picture">
                  <img
                    src="assets/aditya.jpeg"
                    class="shadow-sm rounded-circle"
                    height="130"
                    width="130"
                  />
                </div>
                <div class="user-content">
                  <h3 class="text-capitalize user-name">Aditya Muthane</h3>
                  <p
                    class="profile text-capitalize text-muted small blockquote-footer"
                  >
                    Founding Team Member
                  </p>
                  <p class="bio text-muted mt-4 mb-0">
                    Aditya, an integral member of the CEO's office, entrusted
                    with driving business excellence through strategic
                    initiatives, collaboration, and process optimization. With a
                    steadfast commitment to proactive problem-solving and
                    impactful project management, Aditya ensures operational
                    efficiency, paving the path to organizational success.
                    Holding an MCA from Pune University, he firmly believes that
                    effective project execution is paramount for any
                    organization's triumph.
                  </p>
                </div>
              </div>
              <div
                class="social"
                style="margin-left: 1rem; margin-bottom: 2rem"
              >
                <a
                  target="_blank"
                  href="https://www.linkedin.com/in/adityamuthane/"
                  ><i class="fab fa-linkedin"></i
                ></a>
              </div>
            </div>
          </div>
          <!-- shubham sir member 2 -->
          <div class="col-lg-5 col-md-6 mb-4 pt-5 team subteam1">
            <div class="card shadow-sm border-0 member member2">
              <div class="card-body">
                <div class="user-picture">
                  <img
                    src="assets/shubham.jpeg"
                    class="shadow-sm rounded-circle"
                    height="130"
                    width="130"
                  />
                </div>
                <div class="user-content">
                  <h3 class="text-capitalize user-name">Shubham Paypare</h3>
                  <p
                    class="profile text-capitalize text-muted small blockquote-footer"
                  >
                    Deputy General Manager
                  </p>
                  <p class="bio text-muted mt-4 mb-0">
                    Shubham, our Digital marketing expert and team lead. With
                    expertise in various digital channels, including social
                    media, SEO, content, and email marketing, Shubham drives
                    impactful campaigns. Passionate about innovation and
                    collaboration, he ensures our marketing efforts align with
                    our business goals.
                  </p>
                </div>
              </div>
              <div
                class="social"
                style="margin-left: 1rem; margin-bottom: 2rem"
              >
                <a
                  target="_blank"
                  href="https://www.linkedin.com/in/shubham-paypare/"
                  ><i class="fab fa-linkedin"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
        <div class="row2">
          <!-- suhas member 3 -->
          <div class="col-lg-5 col-md-6 mb-4 pt-5 team subteam2">
            <div class="card shadow-sm border-0 dflex member member1">
              <div class="card-body">
                <div class="user-picture suhas">
                  <img
                    src="assets/suhas.png"
                    class="shadow-sm rounded-circle"
                    height="130"
                    width="130"
                  />
                </div>
                <div class="user-content">
                  <h3 class="text-capitalize user-name">Suhas Dhavale</h3>
                  <p
                    class="profile text-capitalize text-muted small blockquote-footer"
                  >
                    Team Lead - Talent Acquisition & Service Delivery
                  </p>
                  <p class="text-muted mt-4 mb-0" style="text-align: justify;">
                    Suhas Dhavale, Team Lead - Talent Acquisition & Service
                    Delivery, is an experienced professional renowned for his
                    ability to foster collaboration and drive results. With an
                    M.Com from Symbiosis College of Arts and Commerce, Suhas
                    brings a blend of academic rigor and practical expertise.
                    Known for his exceptional leadership skills and dedication
                    to team success, Suhas is admired for his proactive approach
                    and commitment to excellence.
                  </p>
                </div>
              </div>
              <div
                class="social"
                style="margin-left: 1rem; margin-bottom: 2rem"
              >
                <a
                  target="_blank"
                  href="https://www.linkedin.com/in/suhas-dhavale-b32a38245/"
                  ><i class="fab fa-linkedin"></i
                ></a>
              </div>
            </div>
          </div>
          <!-- abhilasha mam member 4 -->
          <div class="col-lg-5 col-md-6 mb-4 pt-5 team subteam2">
            <div class="card shadow-sm border-0 dflex member member2">
              <div class="card-body">
                <div class="user-picture">
                  <img
                    src="assets/abhilasha1.jpeg"
                    class="shadow-sm rounded-circle"
                    height="130"
                    width="130"
                  />
                </div>
                <div class="user-content">
                  <h3 class="text-capitalize user-name">Abhilasha Ubarhande</h3>
                  <p
                    class="profile text-capitalize text-muted small blockquote-footer"
                  >
                    National Account Manager
                  </p>
                  <p class="bio text-muted mt-4 mb-0">
                    Abhilasha, NAM, proactively seeks out fresh business
                    opportunities and maintains robust client relationships.
                    With her proactive approach and strong interpersonal skills,
                    she cultivates lasting connections and drives company
                    growth.
                  </p>
                </div>
              </div>
              <div
                class="social"
                style="margin-left: 1rem; margin-bottom: 2rem"
              >
                <a
                  target="_blank"
                  href="https://www.linkedin.com/in/abhilasha-ubarhande-0b0b9a252/"
                  ><i class="fab fa-linkedin"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /cards -->
    </section>
    <!-- /Ui cards -->
  </div>
</div>

<!-- Footer -->
<footer
  class="text-center text-lg-start text-muted"
  style="font-family: 'Poppins', sans-serif"
>
  <div class="text-center text-md-start m-5">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-lg-4 col-md-12 mb-5 mb-md-0 about-us">
        <h6 class="text-uppercase fw-bold mb-4">About Us</h6>

        <p class="footer-para-about-us">
          Recrutory, powered by
          <img class="logo-link" src="assets/verbiq_logo.png" alt="" /> AI,
          specializes in the multilingual recruitment, global talent search, and
          advanced assessment and screening. We connect businesses in India and
          worldwide with top-tier professionals, leveraging our extensive
          network and cutting-edge technology to ensure unparalleled talent
          matches.
        </p>
      </div>
      <!-- Grid column -->

      <div
        class="col-lg-4 col-md-12 mb-5 mb-md-0 quick-links about-us"
        style="position: relative; right: -5rem"
      >
        <h6 class="text-uppercase fw-bold mb-4">Quick links</h6>
        <p>
          <a href="verbiq" class="text-reset text-decoration-none random"
            ><img class="logo-link" src="assets/verbiq_logo.png" alt=""
          /></a>
        </p>
        <p>
          <a href="team" class="text-reset text-decoration-none random"
            >Meet our Team</a
          >
        </p>
        <p>
          <a href="#!" class="text-reset text-decoration-none random"
            >Media & Press Release</a
          >
        </p>
      </div>

      <!-- Grid column -->
      <div class="col-lg-4 col-md-12 about-us">
        <h6 class="text-uppercase fw-bold mb-4">Contact Us</h6>
        <p>
          <i class="fas fa-home me-3" id="footer-address"></i>Corp. Off. No 16A,
          Floor 2, Tower A, Downtown City Vista, Fountain Road, Ashoka Nagar,
          Kharadi, Pune – 411014
        </p>
        <p><i class="fas fa-envelope me-3"></i> hr&#64;recrutory.com</p>
        <p><i class="fas fa-phone me-3"></i> +91 9373902341</p>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>

  <div class="container pt-4 text-center">
    <section class="mb-4">
      <!-- Facebook -->
      <a
        data-mdb-ripple-init
        class="btn btn-link btn-floating text-body m-1 random"
        target="_blank"
        href="https://www.facebook.com/profile.php?id=61556404210113"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-facebook-f iconf"></i
      ></a>

      <!-- Twitter -->
      <a
        data-mdb-ripple-init
        class="btn btn-link btn-floating text-body m-1 random"
        target="_blank"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><img width="22px" height="22px" src="assets/twitter.svg" />
      </a>

      <!-- Google -->
      <a
        data-mdb-ripple-init
        class="btn btn-link btn-floating text-body m-1 random"
        target="_blank"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><img width="15px" height="17px" src="assets/google.svg" />
      </a>

      <!-- Instagram -->
      <a
        data-mdb-ripple-init
        class="btn btn-link btn-floating text-body m-1 random"
        target="_blank"
        href="https://www.instagram.com/recrutory/?hl=en"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-instagram iconinsta"></i
      ></a>

      <!-- Linkedin -->
      <a
        data-mdb-ripple-init
        class="btn btn-link btn-floating text-body m-1 random"
        target="_blank"
        href="https://www.linkedin.com/company/recrutorycompany/"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-linkedin iconlinkdin"></i
      ></a>
    </section>
    <!-- Section: Social media -->

    <div class="text-center">&#64; 2024 TalentAxisPro Private Limited</div>
  </div>
</footer>
<!-- Footer -->
