


<div class="container-fluid px-0">
    <div class="row g-0">
        <div class="col-12 col-md-5 left-side d-flex align-items-center justify-content-center">
            <div class="content left-content">
                <h1>Voice Process</h1>
                <ul>
                    <li>Resume screening</li>
                    <li>Language Proficiency Test</li>
                    <li>cultural Sensitivity Evaluation</li>
                    <li>Voice Simulation</li>
                    <li>Behavioural Interview</li>
                </ul>
            </div>
        </div>
        <div class="col-12 col-md-7 right-side d-flex align-items-center justify-content-center">
            <div class="content right-content">
                <h1>Non-Voice Process</h1>
                <ul>
                    <li>Written Assessment</li>
                    <li>Data Analysis Test</li>
                    <li>Speed and Accuracy Assessment </li>
                    <li>Scenoria-Based Evaluation</li>
                    <li>Technical Assessment</li>
                </ul>  
            </div>
        </div>
    </div>
</div>
