<br/>


<div class="card-container" >
<div class="slider-card">
    <div class="language-top">
        <h4>German-C1</h4>
        <h4>Italain-B2</h4>
        <h4>French-C1</h4>
    </div>
    <hr>
    <h2>Prajakta</h2>
    <p style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, dignissimos earum consequatur eius maiores
        exercitationem accusantium, eos placeat quaerat tempora pariatur, quam suscipit quidem quod provident recusandae
        beatae ad nihil!</p>
    <div style="display: flex;  flex-direction: row; margin-top: 20px;">
        <h5 class="button-shape">Voice</h5>
        <h5 class="button-shape">Non-voice</h5>
        <h5 class="button-shape">Translation</h5>
    </div>
</div>

<div class="slider-card">
    <div class="language-top">
        <h4>German-C1</h4>
    </div>
    <hr/>
    <h2>Vaikhee</h2>
    <p style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, dignissimos earum consequatur eius maiores
        exercitationem accusantium, eos placeat quaerat tempora pariatur, quam suscipit quidem quod provident recusandae
        beatae ad nihil!</p>
    <div style="display: flex;  flex-direction: row; margin-top: 20px;">
        <h5 class="button-shape">Voice</h5>
        <h5 class="button-shape">Non-voice</h5>
        <h5 class="button-shape">Translation</h5>
    </div>
</div>

<div class="slider-card">
    <div class="language-top">
        <h4>French-C1</h4>
    </div>
    <hr/>
    <h2>Simran</h2>
    <p style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, dignissimos earum consequatur eius maiores
        exercitationem accusantium, eos placeat quaerat tempora pariatur, quam suscipit quidem quod provident recusandae
        beatae ad nihil!</p>
    <div style="display: flex;  flex-direction: row; margin-top: 20px;">
        <h5 class="button-shape">Voice</h5>
        <h5 class="button-shape">Non-voice</h5>
        <h5 class="button-shape">Translation</h5>
    </div>
</div>

</div>
