/* .background {
  background-image: url("/assets/background.png");
  background-size: cover;
  background-position: center;
  height: auto;
  justify-content: center;
  align-items: center;
  padding: 0rem 0rem 5rem; */
  /* height: 150vh; */
/* } */




/* navbar */

nav {
  text-align: center;
  align-items: center;
  justify-content: center;

  /* position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
        background-color: #ffffff; */
}
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #61bdee;
  padding-bottom: 5px;
  color: #022b41;
}
.navbar-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem 0rem 0rem;
}
.navbar-links ul {
  display: flex;
  text-align: center;
  align-items: baseline;
}
.navbar-links ul li {
  list-style-type: none;
  padding: 0rem 6rem 0rem 0rem;
  font-family: "Poppins", sans-serif;
}
.navbar-links a {
  text-decoration: none;
  color: #022b41;
}

@media screen and (max-width: 692px) {
  .navbar-links ul li {
    padding: 0rem 5rem 0rem 0rem;
  }
}
@media screen and (max-width: 497px) {
  .navbar-links ul {
    padding-left: 0px;
  }
  .navbar-links ul li {
    padding: 0rem 3rem 0rem 1rem;
  }
}
@media screen and (max-width: 397px) {
  .navbar-links ul {
    padding-left: 0px;
  }
  .navbar-links ul li {
    padding: 0rem 1.7rem 0rem 1rem;
  }
}

/* Apply styles for active link when clicked */
/* .navbar-links ul li a:hover {
    padding: 0px 0px 10px;
    border-bottom: 3px solid #022b41;
    border-radius: 20%;
  } */
/* .navbar-links ul li a:hover {
  padding: 0px 0px 10px;
  border-bottom: 3px solid #022b41;
  border-radius: 20%;
} */

.whyactive a {
  padding: 0px 0px 10px;
  border-bottom: 3px solid #022b41;
  border-radius: 20%;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropbtn {
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}






/* real content starts here */

.card{
  background-color: white;
  width: 80%;
  /* height: 150vh; */
  margin: 7rem auto 0rem;
  border: none;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-bottom: 3rem;
  box-shadow: 2px 4px 6px #a5c7c9;
}
/* .card::before {
  content: '';
  border-left: 5px solid #90d1f4; 
  border-radius: 0 20px 20px 0; 
} */

/* image part */

.image-container {
  flex: 1.5;
  position: relative;
  /* display: inline-block; */
}

.image-container img {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 105.4%;
  border-top-right-radius: 20px; /* Adjust the radius value as needed */
  border-bottom-right-radius: 20px; /* Adjust the radius value as needed */
}

@media screen and (max-width: 650px) {
  .image-container{
    display: none;
  }
}



.text-overlay {
  margin: 0 auto;
  text-align: center;
  position: absolute;
  bottom: 9%;
  left:0;
  padding: 10px;
  width: 100%;
  color: white; /* Text color */
  box-sizing: border-box;
  
}
.text-overlay p{
  text-align:  center;
  line-height: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  
  
}


/* .right-side{
  height: 90%;
}

.right-side img{
  margin-top: 2rem;
  height: 100%;
  height: 111.4%;
  object-fit: cover;
  overflow: hidden;
} */




/* content part */


/* ::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__leading,
::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__notch,
::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing{
  box-shadow: 0 2px 4px #507577;
} */
/* ::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__leading,
::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__notch,
::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing{
  box-shadow: 0 2px 4px #507577;
} */









.left-side{
  flex: 3;
  margin: 4rem 1rem 1rem;
}

.left-side h2{
  font-weight: bold;
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-size: 1.7rem;
}

.divider {
  min-width: auto;
  border-bottom: 1px solid rgb(190, 179, 179);
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}





/* ------------------------ */

.words{
  display: inline;
  text-indent: 10px;
}

.words-1 span{
  position: absolute;
  opacity: 0;
  overflow: hidden;
  color: #ea2e2e;
  -webkit-animation: rotateWord 18s linear infinite 0s;
  -moz-animation: rotateWord 18s linear infinite 0s;
  -o-animation: rotateWord 18s linear infinite 0s;
  -ms-animation: rotateWord 18s linear infinite 0s;
  animation: rotateWord 12s linear infinite 0s;
}
.words-1 span:nth-child(2) { 
  -webkit-animation-delay: 3s; 
  -moz-animation-delay: 3s; 
  -o-animation-delay: 3s; 
  -ms-animation-delay: 3s; 
  animation-delay: 3s; 
  color: #be2d2d;
}
.words-1 span:nth-child(3) { 
  -webkit-animation-delay: 6s; 
  -moz-animation-delay: 6s; 
  -o-animation-delay: 6s; 
  -ms-animation-delay: 6s; 
  animation-delay: 6s; 
  color: #be2d2d;    
}
.words-1 span:nth-child(4) { 
  -webkit-animation-delay: 9s;
  -moz-animation-delay: 9s; 
  -o-animation-delay: 9s; 
  -ms-animation-delay: 9s; 
  animation-delay: 9s; 
  color: #be2d2d;
}

@-webkit-keyframes rotateWord {
  0% { opacity: 0; }
  2% { opacity: 0; -webkit-transform: translateY(-30px); }
  5% { opacity: 1; -webkit-transform: translateY(0px);}
  17% { opacity: 1; -webkit-transform: translateY(0px); }
  20% { opacity: 0; -webkit-transform: translateY(30px); }
  80% { opacity: 0; }
  100% { opacity: 0; }
}
@-moz-keyframes rotateWord {
  0% { opacity: 0; }
  2% { opacity: 0; -moz-transform: translateY(-30px); }
  5% { opacity: 1; -moz-transform: translateY(0px);}
  17% { opacity: 1; -moz-transform: translateY(0px); }
  20% { opacity: 0; -moz-transform: translateY(30px); }
  80% { opacity: 0; }
  100% { opacity: 0; }
}
@-o-keyframes rotateWord {
  0% { opacity: 0; }
  2% { opacity: 0; -o-transform: translateY(-30px); }
  5% { opacity: 1; -o-transform: translateY(0px);}
  17% { opacity: 1; -o-transform: translateY(0px); }
  20% { opacity: 0; -o-transform: translateY(30px); }
  80% { opacity: 0; }
  100% { opacity: 0; }
}
@-ms-keyframes rotateWord {
  0% { opacity: 0; }
  2% { opacity: 0; -ms-transform: translateY(-30px); }
  5% { opacity: 1; -ms-transform: translateY(0px);}
  17% { opacity: 1; -ms-transform: translateY(0px); }
  20% { opacity: 0; -ms-transform: translateY(30px); }
  80% { opacity: 0; }
  100% { opacity: 0; }
}
@keyframes rotateWord {
  0% { opacity: 0; }
  2% { opacity: 0; transform: translateY(-30px); }
  5% { opacity: 1; transform: translateY(0px);}
  17% { opacity: 1; transform: translateY(0px); }
  20% { opacity: 0; transform: translateY(30px); }
  80% { opacity: 0; }
  100% { opacity: 0; }

}




/* form content */

.example-form {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-direction: column;
}

.row{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}



.example-full-width {
  width: 50%;
}




.mat-form-field {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
}

/* .mat-form-field .mat-input-element {
  border: none; 
  outline: none;
} */
::ng-deep.mat-form-field.mat-focused .mat-form-field-ripple{
  background-color: rgb(196, 238, 30);
}



/* languages section */

.languages-section p{
  margin: 1rem 0;
  font-size: 1rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}


.example-chip-list {
  width: 100%;
}


/* button for toggle */

.open-button-for-grid, .close-button-for-grid{
  max-width: fit-content;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  /* padding: 10px; */
}

.close-button-for-grid{
  max-width: fit-content;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  /* padding: 10px; */
}



/* grid for adding more options: */

.input-grid{
  margin-top: 2rem;
}

#employment-type{
  /* margin-right: 3rem; */
  width: 49%;
}


/* meeting button and submit button */

.row-buttons{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* .row-buttons button, .row-buttons a{
  max-width: fit-content;
} */

.row-buttons .meet-button{
  flex: 2;
  /* margin-right: 2rem; */
}
.row-buttons button{
  flex: 1;
}




/* dialog box for meeting */
.dialog {
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #f9f9f9;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.custom-snackbar {
  color: green; 
}
.addLanguage{
  width: 100%;
  margin-top: 1rem;
}
 
.addLanguage mat-chip-row{
  background: white;
}


/* alternate solution - on click display the boxes */

.scheduled {
  background-color: green !important; /* You might need !important to override MatButton's default styles */
  pointer-events: none; /* Disable pointer events to prevent clicking */
}




/* submit button */

.submit-button{
  margin: 0 auto;
  max-width: max-content;
}




@media screen and (max-width: 650px) {

  .card{
    margin-top: 1rem;
  }

  .row{
    /* display: flex;
    justify-content: space-evenly;
    align-items: center; */
    flex-direction: column;
  }
  .example-full-width, #employment-type {
    width: 100%;
  }
  .row-buttons{
    flex-direction: column;
  }
  .last-button{
    min-width: auto;
    padding: 1rem;
  }
  
  #button-id{
    margin-bottom: 1.5rem;
  }

}





















/* footer section */

footer {
  /* margin-top: -19rem; */
  padding: 2rem 0;
  background-color: #bce1eb;
  font-size: 1rem;
}

.footer-para-about-us {
  text-align: justify;
  line-height: 1.5rem;
}

.about-us  h6{
  font-size: 0.9rem;
}

.about-us p{
  line-height: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.logo-link{
  width: 3.5rem;
  height: auto;
  margin: 0 -3px 4px;
  /* margin-bottom: 4px;
  margin-left: -3px;
  margin-right: -3px; */
}

.iconf {
  color: #3b5998; /* Facebook blue */
}
.iconinsta {
  color: #c13584; /* Instagram pink */
}
.iconlinkdin{
  color: #0077b5;
}

@media screen and (max-width: 995px) {
  .quick-links {
    left: 0;
  }
}

@media screen and (max-width: 772px) {
  .about-us {
    text-align: left;
  }
}



/* hover effect */
.random {
  color: #54b3d6;
  text-decoration: none;
  position: relative;
}

.random::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background-color: black;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.random:hover::after {
  transform: scaleX(1);
}

#footer-address {
  text-align: justify;
}

