<!-- Import necessary Angular Material modules -->
<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>

<div class="card">
  <div class="left-side">
    <h2>
      Hi, I'm
      <span class="words words-1">
        <span>Abhilasha,</span>
        <span>Shubham,</span>
        <span>Aditya,</span>
        <span>Suhas,</span>
      </span>
      <br />
      Lets discuss your requirement
    </h2>
    <div class="divider"></div>

    <!-- form details -->

    <form class="example-form" #formRef="ngForm" >
      <!-- <form
      class="example-form"
      #formRef="ngForm"
      (ngSubmit)="submitForm(formRef)"
    > -->
      <!-- name and contact no -->
      <div class="row">
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Suhas Patil" value="" required [(ngModel)]="name" name="name"/>
        </mat-form-field>
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Contact No</mat-label>
          <input
            matInput
            type="number"
            placeholder="9808888089"
            value=""
            required
            [(ngModel)]="contactno" name="contactno"
          />
        </mat-form-field>
      </div>

      <!-- company name and email -->
      <div class="row">
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Company Name</mat-label>
          <input matInput placeholder="XYZ Pvt Ltd" value="" required [(ngModel)]="companyName" name="companyName"/>
        </mat-form-field>
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Email</mat-label>
          <input
            matInput
            type="email"
            placeholder="xyz@gmail.com"
            value=""
            required
            [(ngModel)]="email" name="email"
          />
        </mat-form-field>
      </div>

      <!-- languages section -->
      <div class="languages-section">
        <p>Languages resources that you require</p>

        <mat-chip-listbox aria-label="language selection" required multiple [(ngModel)]="language" name="language">
          <mat-chip-option value="French">French</mat-chip-option>
          <mat-chip-option value="German">German</mat-chip-option>
          <mat-chip-option color="accent" value="Spanish">Spanish</mat-chip-option>
          <mat-chip-option color="warn" value="Dutch">Dutch</mat-chip-option>
          <mat-chip-option value="Portuguese">Portuguese</mat-chip-option>
          <mat-chip-option value="Russian">Russian</mat-chip-option>
          <mat-chip-option color="warn" value="Japanese">Japanese</mat-chip-option>
          <mat-chip-option color="warn" value="Mandarin">Mandarin</mat-chip-option>
          <mat-chip-option color="accent" value="Korean" >Korean</mat-chip-option>
        </mat-chip-listbox>
      </div>

      <!-- grid options to add new languages -->

      <mat-form-field appearance="outline" class="example-full-width addLanguage">
        <mat-label>Add Additional Languages</mat-label>
        <input
          matInput
          type="text"
          placeholder="Type Your Language"
          value=""
          [(ngModel)]="additionalLanguage" name="additionalLanguage"
        />
      </mat-form-field>

      <!-- <button
        class="open-button-for-grid"
        *ngIf="!showChipList"
        (click)="toggleChipList()"
        mat-raised-button
      >
        Add More languages?
      </button>

      <mat-form-field
        class="example-chip-list input-grid"
        appearance="outline"
        *ngIf="showChipList"
      >
        <mat-label>Type your languages here if not in the list</mat-label>
        <mat-chip-grid #chipGrid aria-label="Enter fruits" appearance="outline">
          <mat-chip-row
            *ngFor="let fruit of fruits"
            (removed)="remove(fruit)"
            [aria-description]="'press enter to edit ' + fruit.language"
          >
            {{ fruit.language }}
            <button matChipRemove [attr.aria-label]="'remove ' + fruit.language">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
          <input
            [(ngModel)]="additionalLanguage"
            name="additionalLanguage"
            placeholder="Enter here"
            [matChipInputFor]="chipGrid"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add($event)"

          />
        </mat-chip-grid>
      </mat-form-field> -->
<!-- 
      <button
        class="close-button-for-grid"
        (click)="toggleChipList()"
        *ngIf="showChipList"
        mat-raised-button
      >
        Submit
      </button> -->

      <!-- location and compensation -->
      <div class="row">
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Location</mat-label>
          <input
            matInput
            placeholder="For which location do you want to hire"
            value=""
            required
            [(ngModel)]="location" name="location"
          />
        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Compensation Band (in LPA) </mat-label>
          <mat-select name="ctc" required [(ngModel)]="compensationBand" name="compensationBand">
            <mat-option value="3.5LPA to 5LPA">3.5LPA to 5LPA</mat-option>
            <mat-option value="5LPA to 6.5LPA">5LPA to 6.5LPA</mat-option>
            <mat-option value="6.5LPA to 8LPA">6.5LPA to 8LPA</mat-option>
            <mat-option value="Above 8LPA">Above 8LPA</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!-- Mode of working and role type -->
      <div class="row">
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Mode of working</mat-label>
          <mat-select name="mode" required [(ngModel)]="workingMode" name="workingMode">
            <mat-option value="Remote">Remote</mat-option>
            <mat-option value="Onsite">Onsite</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Role Type</mat-label>
          <input matInput placeholder="Specialist" value="" required [(ngModel)]="roleType" name="roleType"/>
        </mat-form-field>
      </div>

      <!-- timeline and communication channel -->
      <div class="row">
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Timeline for hiring</mat-label>
          <input matInput placeholder="Urgent" value="" required [(ngModel)]="hiringTimeline" name="hiringTimeline"/>
        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Communication Channel</mat-label>
          <input matInput placeholder="" value="" required [(ngModel)]="communicationChannel" name="communicationChannel"/>
        </mat-form-field>
      </div>

      <!-- Type of employement -->
      <mat-form-field
        appearance="outline"
        class="example-full-width"
        id="employment-type"
      >
        <mat-label>Type of Employement (Optional)</mat-label>
        <mat-select [(ngModel)]="employementType" name="employementType">
          <mat-option value="full-time">Full Time</mat-option>
          <mat-option value="contractual">Contractual</mat-option>
          <mat-option value="part-time">Part-time</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- meeting button -->
      <!-- <mat-form-field class="example-full-width">
        <mat-label>Select a Date</mat-label>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="appointmentDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field> -->
      

      <div class="row-buttons">

        <a  mat-raised-button href="https://www.google.com/" color="primary" class="meet-button example-full-width" target="_blank">Schedule a meeting</a>

        <!-- <button
          class="meet-button example-full-width"
          color="primary"
          mat-raised-button
        >
          Schedule a meeting
        </button> -->

        <!-- <div ng-app="companyApp" ng-controller="CompanyController as vm">
        <button mat-raised-button (click)="vm.toggleDialog()">Pick one</button>

        <div ng-show="vm.dialogOpened" class="dialog">
          <h1>Hi {{ vm.data.name }}</h1>
          <div>
            <p>What's your favorite animal?</p>
            <mat-form-field>
              <mat-label>Favorite Animal</mat-label>
              <input matInput [(ngModel)]="vm.data.animal" />
            </mat-form-field>
          </div>
          <div>
            <button mat-button (click)="vm.onNoClick()">No Thanks</button>
            <button
              mat-button
              [mat-dialog-close]="vm.data.animal"
              cdkFocusInitial
            >
              Ok
            </button>
          </div>
        </div>
      </div> -->

        <!-- submit button -->

        <button mat-raised-button (click)="onSubmit()" >Submit</button>
        <!-- <button mat-raised-button [disabled]="!isFormFilled">Submit</button>
      <button mat-raised-button *ngIf="!isFormFilled" disabled>
        Please fill the form
      </button> -->
      </div>
    </form>
  </div>

  <!-- <div class="right-side">
    <img src="assets/Group487.png" alt="" />
  </div> -->
</div>
