<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>

<link
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
  rel="stylesheet"
/>

<div
  class="background"
  style="
    background-image: url('assets/background.png');
    height: 100vh;
    background-size: cover;
    background-position: center;
    height: auto;
    justify-content: center;
    align-items: center;
    padding: 0rem 10rem 5rem;
  "
>
  <nav>
    <div class="logo">
      <a href="#"><img src="assets/logo.png" height="60px" width="200px" /></a>
    </div>
    <div class="navbar-links">
      <ul>
        <li><a href="#">Why Recrutory ?</a></li>
        <li>
          <a href="#"
            ><img src="assets/verbiq_logo.png" height="30px" width="85px"
          /></a>
        </li>
        <li><a href="#">Global Insights</a></li>
      </ul>
    </div>
  </nav>

  <!-- form starts -->

  <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Fill out your name</ng-template>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input
            matInput
            placeholder="Last name, First name"
            formControlName="firstCtrl"
            required
          />
        </mat-form-field>
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Contact No</mat-label>
          <input
            matInput
            type="number"
            placeholder="9808888089"
            value=""
            required
            name="contactno"
          />
        </mat-form-field>
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Email</mat-label>
          <input
            matInput
            type="email"
            placeholder="xyz@gmail.com"
            value=""
            required
            name="email"
          />
        </mat-form-field>
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Current Location</mat-label>
          <input
            matInput
            placeholder="For which location do you want to hire"
            value=""
            required
            name="location"
          />
        </mat-form-field>
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Company Name</mat-label>
          <input
            matInput
            placeholder="XYZ Pvt Ltd"
            value=""
            required
            name="companyName"
          />
        </mat-form-field>
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Current Role</mat-label>
          <input
            matInput
            placeholder="Specialist"
            value=""
            required
            name="roleType"
          />
        </mat-form-field>

        <!-- <mat-form-field
          class="example-chip-list addLanguage"
          appearance="outline"
        >
          <mat-label>What languages do you know?</mat-label>
          <mat-chip-grid #chipGrid aria-label="Enter fruits">
            @for (fruit of fruits; track fruit) {
            <mat-chip-row
              (removed)="remove(fruit)"
              [editable]="true"
              (edited)="edit(fruit, $event)"
              [aria-description]="'press enter to edit ' + fruit.name"
            >
              {{ fruit.name }}
              <button matChipRemove [attr.aria-label]="'remove ' + fruit.name">
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip-row>
            }
            <input
              placeholder="Add Languages....."
              [matChipInputFor]="chipGrid"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="addOnBlur"
              (matChipInputTokenEnd)="add($event)"
              name="additionalLanguage"
            />
          </mat-chip-grid>
        </mat-form-field> -->

        <div class="languages-section">
          <p>What is your language qualification</p>

          <mat-chip-listbox
            aria-label="language selection"
            required
            multiple
            name="language"
          >
            <mat-chip-option value="French"
              >Globally recognised certification</mat-chip-option
            >
            <mat-chip-option value="German">Graduation</mat-chip-option>
            <mat-chip-option value="Spanish">Post - Graduation</mat-chip-option>
            <mat-chip-option value="Dutch">Diploma</mat-chip-option>
            <mat-chip-option value="Portuguese">PG Diploma</mat-chip-option>
            <mat-chip-option value="Russian">Native Speaker</mat-chip-option>
            <mat-chip-option value="Japanese">Other</mat-chip-option>
          </mat-chip-listbox>
        </div>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Fill out your address</ng-template>
        <mat-form-field>
          <mat-label>Address</mat-label>
          <input
            matInput
            formControlName="secondCtrl"
            placeholder="Ex. 1 Main St, New York, NY"
            required
          />
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-stepper>
</div>

<!-- Footer -->
<footer
  class="text-center text-lg-start text-muted"
  style="font-family: 'Poppins', sans-serif"
>
  <div class="text-center text-md-start m-5 p-4">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-lg-4 col-md-12 mb-5 mb-md-0 about-us">
        <h6 class="text-uppercase fw-bold mb-4">About Us</h6>

        <p class="footer-para-about-us">
          Recrutory, powered by
          <img class="logo-link" src="assets/verbiq_logo.png" alt="" /> AI,
          specializes in the multilingual recruitment, global talent search, and
          advanced assessment and screening. We connect businesses in India and
          worldwide with top-tier professionals, leveraging our extensive
          network and cutting-edge technology to ensure unparalleled talent
          matches.
        </p>
      </div>
      <!-- Grid column -->

      <div
        class="col-lg-4 col-md-12 mb-5 mb-md-0 quick-links about-us"
        style="position: relative; right: -5rem"
      >
        <h6 class="text-uppercase fw-bold mb-4">Quick links</h6>
        <p>
          <a href="#!" class="text-reset text-decoration-none random"
            ><img class="logo-link" src="assets/verbiq_logo.png" alt=""
          /></a>
        </p>
        <p>
          <a href="#!" class="text-reset text-decoration-none random">Blogs</a>
        </p>
        <p>
          <a href="#!" class="text-reset text-decoration-none random"
            >Media & Press Release</a
          >
        </p>
      </div>

      <!-- Grid column -->
      <div class="col-lg-4 col-md-12 about-us">
        <h6 class="text-uppercase fw-bold mb-4">Contact Us</h6>
        <p>
          <i class="fas fa-home me-3" id="footer-address"></i>Corp. Off. No 16A,
          Floor 2, Tower A, Downtown City Vista, Fountain Road, Ashoka Nagar,
          Kharadi, Pune – 411014
        </p>
        <p><i class="fas fa-envelope me-3"></i> hr&#64;recrutory.com</p>
        <p><i class="fas fa-phone me-3"></i> +91 9373902341</p>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>

  <div class="container pt-4 text-center">
    <section class="mb-4">
      <!-- Facebook -->
      <a
        data-mdb-ripple-init
        class="btn btn-link btn-floating text-body m-1 random"
        target="_blank"
        href="https://www.facebook.com/profile.php?id=61556404210113"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-facebook-f iconf"></i
      ></a>

      <!-- Twitter -->
      <a
        data-mdb-ripple-init
        class="btn btn-link btn-floating text-body m-1 random"
        target="_blank"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><img width="22px" height="22px" src="assets/twitter.svg" />
      </a>

      <!-- Google -->
      <a
        data-mdb-ripple-init
        class="btn btn-link btn-floating text-body m-1 random"
        target="_blank"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><img width="15px" height="17px" src="assets/google.svg" />
      </a>

      <!-- Instagram -->
      <a
        data-mdb-ripple-init
        class="btn btn-link btn-floating text-body m-1 random"
        target="_blank"
        href="https://www.instagram.com/recrutory/?hl=en"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-instagram iconinsta"></i
      ></a>

      <!-- Linkedin -->
      <a
        data-mdb-ripple-init
        class="btn btn-link btn-floating text-body m-1 random"
        target="_blank"
        href="https://www.linkedin.com/company/recrutorycompany/"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-linkedin iconlinkdin"></i
      ></a>
    </section>
    <!-- Section: Social media -->

    <div class="text-center">&#64; 2024 TalentAxisPro Private Limited</div>
  </div>
</footer>
<!-- Footer -->
