<div class="blog-slider">
  <div class="blog-slider__wrp swiper-wrapper">

    <div class="blog-slider__item swiper-slide">
      <div class="blog-slider__img">
        <img src="assets/overlay - 1.png" alt="" />
      </div>
      <div class="blog-slider__content">
        <div class="blog-slider__title">Language and Cultural Assessment:</div>
        <div class="blog-slider__text">
          Showcase your language proficiency and cultural competence with our
          VerbiQ assessment platform. Gain a competitive edge in today's global
          marketplace by demonstrating your ability to communicate effectively
          across languages and cultures.
        </div>
      </div>
    </div>

    <div class="blog-slider__item swiper-slide">
      <div class="blog-slider__img">
        <img src="assets/overlay - 2.png" alt="" />
      </div>
      <div class="blog-slider__content">
        <div class="blog-slider__title">Language</div>
        <div class="blog-slider__text">
          Gain a competitive edge in today's global
          marketplace by demonstrating your ability to communicate effectively
          across languages and cultures.
        </div>
      </div>
    </div>

    <div class="blog-slider__item swiper-slide">
      <div class="blog-slider__img">
        <img
          src="assets/overlay - 1.png"
          alt=""
        />
      </div>
      <div class="blog-slider__content">
        <div class="blog-slider__title">Language and Cultural Assessment:</div>
        <div class="blog-slider__text">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae
          voluptate repellendus magni illo ea animi?
        </div>
      </div>
    </div>

    <div class="blog-slider__item swiper-slide">
      <div class="blog-slider__img">
        <img
          src="assets/overlay - 2.png"
          alt=""
        />
      </div>
      <div class="blog-slider__content">
        <div class="blog-slider__title">Overlay 4</div>
        <div class="blog-slider__text">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae
          voluptate repellendus magni illo ea animi?
        </div>
        <a href="#" class="blog-slider__button">READ MORE</a>
      </div>
    </div>
  </div>

  <div class="blog-slider__pagination"></div>
</div>
























<!-- <div class="blog-slider__content">
  <span class="blog-slider__code">26 December 2019</span>
  <div class="blog-slider__title">Language and Cultural Assessment:/div>
  <div class="blog-slider__text">
    Showcase your language proficiency and cultural competence with our
    VerbiQ assessment platform. Gain a competitive edge in today's global
    marketplace by demonstrating your ability to communicate effectively
    across languages and cultures.
  </div>
  <a href="#" class="blog-slider__button">READ MORE</a>
</div> -->