


/* navbar */

nav {
  text-align: center;
  align-items: center;
  justify-content: center;

  /* position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
        background-color: #ffffff; */
}
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #61bdee;
  padding-bottom: 5px;
  color: #022b41;
}
.navbar-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem 0rem 0rem;
}
.navbar-links ul {
  display: flex;
  text-align: center;
  align-items: baseline;
}
.navbar-links ul li {
  list-style-type: none;
  padding: 0rem 6rem 0rem 0rem;
  font-family: "Poppins", sans-serif;
}
.navbar-links a {
  text-decoration: none;
  color: #022b41;
}

@media screen and (max-width: 692px) {
  .navbar-links ul li {
    padding: 0rem 5rem 0rem 0rem;
  }
}
@media screen and (max-width: 497px) {
  .navbar-links ul {
    padding-left: 0px;
  }
  .navbar-links ul li {
    padding: 0rem 3rem 0rem 1rem;
  }
}
@media screen and (max-width: 397px) {
  .navbar-links ul {
    padding-left: 0px;
  }
  .navbar-links ul li {
    padding: 0rem 1.7rem 0rem 1rem;
  }
}

/* Apply styles for active link when clicked */
/* .navbar-links ul li a:hover {
    padding: 0px 0px 10px;
    border-bottom: 3px solid #022b41;
    border-radius: 20%;
  } */
/* .navbar-links ul li a:hover {
  padding: 0px 0px 10px;
  border-bottom: 3px solid #022b41;
  border-radius: 20%;
} */

.whyactive a {
  padding: 0px 0px 10px;
  border-bottom: 3px solid #022b41;
  border-radius: 20%;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropbtn {
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}





  /* content goes here */

  /* heading */

  .heading{
    margin: 3rem 5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .heading h1{
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 2rem;
  }

  .heading .info p{
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 1.1rem;
    margin-bottom: 7rem;
    line-height: 1.7rem;
    font-weight: 400;
  }


  /* map */
  .map{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .map img{
    min-width: 30vw;
    margin-bottom: 7rem;
  }



  @media screen and (max-width: 700px) {

    .heading{
      margin: 3rem 2rem;
    }
    .heading h1{
      font-size: 1.1rem;
      font-weight: 500;
      margin-bottom: 1rem;
      text-align: center;
    }
  
    .heading .info p{
      text-align: center;
      font-size: 0.9rem;
      margin:0 2rem 2rem;
      line-height: 1.7rem;
      font-weight: 400;
    }


    .map img{
      margin: 2rem 4rem 4rem;
    }
  }














  /* footer section */

footer {
    /* margin-top: -19rem; */
    padding: 2rem 0;
    background-color: #bce1eb;
    font-size: 1rem;
  }
  
  .footer-para-about-us {
    text-align: justify;
    line-height: 1.5rem;
  }
  
  .about-us h6 {
    font-size: 0.9rem;
  }
  
  .about-us p {
    line-height: 1.5rem;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
  }
  
  .logo-link {
    width: 3.5rem;
    height: auto;
    margin: 0 -3px 4px;
    /* margin-bottom: 4px;
      margin-left: -3px;
      margin-right: -3px; */
  }
  
  .iconf {
    color: #3b5998; /* Facebook blue */
  }
  .iconinsta {
    color: #c13584; /* Instagram pink */
  }
  .iconlinkdin {
    color: #0077b5;
  }
  
  @media screen and (max-width: 995px) {
    .quick-links {
      left: 0;
    }
  }
  
  @media screen and (max-width: 772px) {
    .about-us {
      text-align: left;
    }
  }
  
  /* hover effect */
  .random {
    color: #54b3d6;
    text-decoration: none;
    position: relative;
  }
  
  .random::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 2px;
    background-color: black;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }
  
  .random:hover::after {
    transform: scaleX(1);
  }
  
  #footer-address {
    text-align: justify;
  }
  

/* services section */

/* services section */
.services {
  width: 100%;
  display: grid;
  place-items: 2;
  margin-bottom: 5rem;
  padding: 4rem;
}
.rowservices {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 2rem; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  padding: 0 2rem;
}

.card {
  padding: 2rem 2rem 0rem;
  background: linear-gradient(transparent 50%, #02697e 50%);
  background-size: 100% 200%;
  background-position: 0 2.5%;
  border-radius: 5px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.card h3 {
  font-size: 20px;
  font-weight: 600;
  color: #1f194c;
  margin: 1em 0 2rem;
}

.card p {
  color: #575a7b;
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-align: justify;
  min-height: 11rem;
}

.icon-wrapper {
  background-color: #02697e;
  margin: auto;
  font-size: 30px;
  height: 2.5em;
  width: 2.5em;
  color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: 0.5s;
}

  
  @media screen and (max-width: 972px) {
    .services {
      width: 100%;
      display: grid;
      place-items: 2;
      margin-bottom: 5rem;
      padding: 1rem;
    }
    .rowservices{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .card p{
      min-height: auto;
      margin-bottom: 2rem;
    }
  }
  
  @media screen and (max-width: 500px) {
    .card p{
      text-align: center;
    }
  }
  