<!-- content starts from here -->

<!-- cover page section -->
<div class="coverpage">
  <div class="col-md-12 justify-content-center align-items-start text-left p-5 pt-0">
    <img src="assets/verbiq/logo.png" alt="" />

    <h1 style="font-weight:bold;">Transforming Language Assessment:</h1>
    <h1>Empowering Global Communication and Cultural Fit</h1>

    <p>
      A smarter, more respectful approach to measure language skills, guaranteeing everyone receives the fair assessment
      they deserve. Welcome to the future of language assessment—efficient, accurate, and inclusive.
    </p>
  </div>
</div>

<!-- Verbiq video -->
<div class="verbiqVideo">
  <div class="verbiqVideoLeft">
    <h3>Assess and Elevate Your Language Proficiency with <span><img src="assets/verbiq_logo.png" width="100px"
          height="auto" /></span></h3>
  </div>
  <div class="verbiqVideoRight">
    <iframe src="
https://www.youtube.com/embed/kzEhKTQa9bU?si=L1cetsOzUZfiRhca" title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>
</div>

<!-- card - flip  -->
<div class="content">
  <!-- first card -->
  <a class="card">
    <div class="front" style="background: transparent">
      <h2>PURPOSE</h2>
      <div class="card-front-img-section">
        <img style="object-fit: cover" src="assets/verbiq/1.png" alt="" />
      </div>
    </div>
    <div class="back">
      <div>
        <p>
          "Discover purpose-driven linguistic
          recruitment with
          <span><img src="assets/verbiq_logo.png" width="60px" /></span>. Our
          platform helps align your hiring goals with candidates who not only
          have the right language skills but also understand your organization's
          mission and values."
        </p>
      </div>
    </div>
  </a>

  <!-- second card -->
  <a class="card">
    <div class="front" style="background: transparent">
      <h2>CONSISTENCY</h2>
      <div class="card-front-img-section">
        <img style="object-fit: cover" src="assets/verbiq/2.png" alt="" />
      </div>
    </div>
    <div class="back">
      <div>
        <p>
          "Ensure linguistic consistency
          across your team with
          <span><img src="assets/verbiq_logo.png" width="60px" /></span>
          standardized assessment methods. By maintaining consistency in
          language proficiency, you can enhance communication and collaboration
          within your organization."
        </p>
      </div>
    </div>
  </a>

  <!-- third card -->
  <a class="card">
    <div class="front" style="background: transparent">
      <h2>ACCESSIBILITY</h2>
      <div class="card-front-img-section">
        <img style="object-fit: cover" src="assets/verbiq/3.png" alt="" />
      </div>
    </div>
    <div class="back">
      <div>
        <p>
          "<span><img src="assets/verbiq_logo.png" width="60px" /></span>
          offers accessible language assessment solutions for all. With our
          user-friendly interface and flexible testing options, we make it easy
          for candidates to demonstrate their linguistic abilities, regardless
          of location or background."
        </p>
      </div>
    </div>
  </a>

  <!-- fourth card -->
  <a class="card">
    <div class="front" style="background: transparent">
      <h2>REDUCED TIMELINE FOR HIRING</h2>
      <div class="card-front-img-section">
        <img style="object-fit: cover" src="assets/verbiq/4.png" alt="" />
      </div>
    </div>
    <div class="back">
      <div>
        <p>
          "Stay ahead of
          linguistic recruitment trends while maintaining timeless hiring
          practices with
          <span><img src="assets/verbiq_logo.png" width="60px" /></span>. Our
          platform adapts to evolving language requirements while ensuring the
          timeless value of strong communication skills in your workforce."
        </p>
      </div>
    </div>
  </a>
</div>

<!-- features section -->

<div class="features" style="
    background-image: url('assets/verbiq/features-bg.png');
    min-height: 100vh;
    background-size: cover;
    background-position: center;
  ">
  <div class="divider"></div>

  <div class="content1">
    <!-- left section -->
    <div class="left-side">
      <div class="para1">
        <h1>Personalized and Adaptive Testing:</h1>
        <p>
          Our assessments are tailored to each individual, adapting to their
          proficiency level and learning pace, ensuring accurate evaluation
          without bias.
        </p>
      </div>
      <div class="icons">
        <img class="i1" src="assets/verbiq/Group 227.png" alt="" />
        <img class="i2" src="assets/verbiq/Group 228.png" alt="" />
      </div>
      <div class="para2">
        <h1>Customized Reporting and Insights:</h1>
        <p>
          Gain valuable insights into candidates' cultural adaptability and
          communication abilities through detailed, customizable reports. Make
          informed and objective hiring decisions to build a culturally diverse
          and cohesive team.
        </p>
      </div>
    </div>

    <!-- divider for mobile view -->
    <div class="astrodivider">
      <div class="astrodividermask"></div>
    </div>

    <!-- right section -->
    <div class="right-side">
      <div class="para1">
        <h1>Enhance Cultural Fit and Communication:</h1>
        <p>
          Our platform goes beyond language skills, providing a comprehensive
          cultural assessment to ensure candidates align with your
          organization's values and communication style.
        </p>
      </div>
      <div class="icons">
        <img class="i1" src="assets/verbiq/Group 229.png" alt="" />
        <img class="i2" src="assets/verbiq/Group 230.png" alt="" />
      </div>
      <div class="para2">
        <h1>Setting Candidates Apart:</h1>
        <p>
          Our candidates excel because we assess beyond language proficiency,
          focusing on cultural fluency and role-specific skills, ensuring they
          connect with clients on a deeper level, setting them apart in the
          industry.
        </p>
      </div>
    </div>

    <!-- right section -->
    <div class="right-side"></div>
  </div>
</div>

<!-- process section -->

<div class="process">
  <H1>Assessment Process</H1>

  <div class="divider1"></div>

  <div class="process-container">
    <!-- left section -->
    <div class="assessment-l" style="
        background-image: url('assets/verbiq/Rectangle1.png');
        min-height: 100vh;
        background-size: cover;
        background-position: center;
      ">
      <div class="left-header-assessment">
        <h1>Voice Process Assessment </h1>
        <h3>Avg. duration for this assessment required is 45 mins</h3>
        <hr />
      </div>
      <br>
      <div class="left-assessment-subpoints">
        <h3>Resume Screening: </h3>
        <p>Meticulously assess language proficiency and customer-facing experience.</p>
      </div>
      <div class="left-assessment-subpoints">
        <h3>Language Proficiency Test: </h3>
        <p>Thoroughly evaluate fluency, vocabulary, grammar, and pronunciation.</p>
      </div>
      <div class="left-assessment-subpoints">
        <h3>Voice Simulation: </h3>
        <p>Engage candidates in simulated customer interactions to assess communication skills.</p>
      </div>
      <div class="left-assessment-subpoints">
        <h3>Cultural Sensitivity Evaluation: </h3>
        <p>Assess understanding and respect for cultural nuances.</p>
      </div>
      <div class="left-assessment-subpoints">
        <h3>Behavioral Interview: </h3>
        <p>Evaluate problem-solving skills, adaptability, and customer-centric approach.</p>
      </div>

    </div>


    <!-- right section -->
    <div class="assessment-l" style="
        background-image: url('assets/verbiq/Rectangle2.png');
        min-height: 100vh;
        background-size: cover;
        background-position: center;
      ">

      <div class="left-header-assessment">
        <h1>Non-Voice Process Assessment </h1>
        <h3>Avg. duration for this assessment required is 60 mins</h3>
        <hr />
      </div>
      <br>
      <div class="left-assessment-subpoints">
        <h3>Written Assessment: </h3>
        <p>Demonstrate proficiency in written communication through tasks like composing emails or translating
          documents.</p>
      </div>
      <div class="left-assessment-subpoints">
        <h3>Data Analysis Test: </h3>
        <p>Showcase ability to interpret and manipulate data accurately, vital for roles involving data processing.</p>
      </div>
      <div class="left-assessment-subpoints">
        <h3>Speed and Accuracy Assessment: </h3>
        <p>Evaluate efficiency in handling written communication tasks through speed and accuracy evaluations.</p>
      </div>
      <div class="left-assessment-subpoints">
        <h3>Scenario-Based Evaluation: </h3>
        <p>Assess problem-solving skills and critical thinking under pressure through real-life scenario presentations.
        </p>
      </div>
      <div class="left-assessment-subpoints">
        <h3>Technical Assessment: </h3>
        <p>Undergo tests to evaluate proficiency in relevant software tools for the position.</p>
      </div>


    </div>
  </div>
</div>

<!-- verbiq vector  -->
<div class="verbiq-vector">
  <div class="verbiq-vector-img-text">
    <div class="vector-img-div">
      <img src="assets/verbiq/verbiqPage1.png" class="verbiq-vector-img1" />
    </div>
    <div class="verbiq-vector-text">
      <h1>Efficient</h1>
    </div>

  </div>
  <div class="verbiq-vector-img-text">
    <div class="vector-img-div">
      <img src="assets/verbiq/verbiqPage2.png" class="verbiq-vector-img2" />
    </div>
    <div class="verbiq-vector-text">
      <h1>Precise</h1>
    </div>
  </div>

  <div class="verbiq-vector-img-text">
    <div class="vector-img-div">
      <img src="assets/verbiq/verbiqPage3.png" class="verbiq-vector-img3" />
    </div>
    <div class="verbiq-vector-text">
      <h1>Tailored</h1>
    </div>
  </div>
</div>