<!-- content starts from here -->

<!-- cover page section -->
<div class="coverpage">
  <div
    class="col-md-12 justify-content-center align-items-start text-left p-5 pt-0"
  >
    <img src="assets/verbiq/logo.png" alt="" />

    <h1 style="font-weight: bold">Transforming Language Assessment:</h1>
    <h1>Empowering Global Communication and Cultural Fit</h1>

    <p>
      Discover VerbiQ, where communication excellence meets cultural fluency and
      role-specific proficiency. Elevate your standards and make every
      connection count with us.
    </p>
  </div>
</div>

<!-- card - flip  -->
<div class="content">
  <!-- first card -->
  <a class="card">
    <div class="front" style="background: transparent">
      <h2>PURPOSE</h2>
      <img style="object-fit: cover" src="assets/verbiq/1.png" alt="" />
    </div>
    <div class="back">
      <div>
        <p>
          <span class="head">Purpose:</span> "Discover purpose-driven linguistic
          recruitment with
          <span><img src="assets/verbiq_logo.png" width="60px" /></span>. Our
          platform helps align your hiring goals with candidates who not only
          have the right language skills but also understand your organization's
          mission and values."
        </p>
      </div>
    </div>
  </a>

  <!-- second card -->
  <a class="card">
    <div class="front" style="background: transparent">
      <h2>CONSISTENCY</h2>
      <img style="object-fit: cover" src="assets/verbiq/2.png" alt="" />
    </div>
    <div class="back">
      <div>
        <p>
          <span class="head">Consistency:</span> "Ensure linguistic consistency
          across your team with
          <span><img src="assets/verbiq_logo.png" width="60px" /></span>'s
          standardized assessment methods. By maintaining consistency in
          language proficiency, you can enhance communication and collaboration
          within your organization."
        </p>
      </div>
    </div>
  </a>

  <!-- third card -->
  <a class="card">
    <div class="front" style="background: transparent">
      <h2>ACCESSIBILITY</h2>
      <img style="object-fit: cover" src="assets/verbiq/3.png" alt="" />
    </div>
    <div class="back">
      <div>
        <p>
          <span class="head">Accessibility: </span> "<span
            ><img src="assets/verbiq_logo.png" width="60px"
          /></span>
          offers accessible language assessment solutions for all. With our
          user-friendly interface and flexible testing options, we make it easy
          for candidates to demonstrate their linguistic abilities, regardless
          of location or background."
        </p>
      </div>
    </div>
  </a>

  <!-- fourth card -->
  <a class="card">
    <div class="front" style="background: transparent">
      <h2>REDUCED TIMELINE FOR HIRING</h2>
      <img style="object-fit: cover" src="assets/verbiq/4.png" alt="" />
    </div>
    <div class="back">
      <div>
        <p>
          <span class="head">Trends Vs Timelessness: </span> "Stay ahead of
          linguistic recruitment trends while maintaining timeless hiring
          practices with
          <span><img src="assets/verbiq_logo.png" width="60px" /></span>. Our
          platform adapts to evolving language requirements while ensuring the
          timeless value of strong communication skills in your workforce."
        </p>
      </div>
    </div>
  </a>
</div>

<!-- features section -->

<div class="features"
  style="
    background-image: url('assets/verbiq/features-bg.png');
    min-height: 100vh;
    background-size: cover;
    background-position: center;
  "
>
  <div class="divider"></div>

  <div class="content1">
    <!-- left section -->
    <div class="left-side">
      <div class="para1">
        <h1>Personalized and Adaptive Testing:</h1>
        <p>
          Our assessments are tailored to each individual, adapting to their
          proficiency level and learning pace, ensuring accurate evaluation
          without bias.
        </p>
      </div>
      <div class="icons">
        <img class="i1" src="assets/verbiq/Group 227.png" alt="" />
        <img class="i2" src="assets/verbiq/Group 228.png" alt="" />
      </div>
      <div class="para2">
        <h1>Customized Reporting and Insights:</h1>
        <p>
          Gain valuable insights into candidates' cultural adaptability and
          communication abilities through detailed, customizable reports. Make
          informed and objective hiring decisions to build a culturally diverse
          and cohesive team.
        </p>
      </div>
    </div>

    <!-- divider for mobile view -->
    <div class="astrodivider">
      <div class="astrodividermask"></div>
    </div>

    <!-- right section -->
    <div class="right-side">
      <div class="para1">
        <h1>Enhance Cultural Fit and Communication:</h1>
        <p>
          Our platform goes beyond language skills, providing a comprehensive
          cultural assessment to ensure candidates align with your
          organization's values and communication style.
        </p>
      </div>
      <div class="icons">
        <img class="i1" src="assets/verbiq/Group 229.png" alt="" />
        <img class="i2" src="assets/verbiq/Group 230.png" alt="" />
      </div>
      <div class="para2">
        <h1>Setting Candidates Apart:</h1>
        <p>
          Our candidates excel because we assess beyond language proficiency,
          focusing on cultural fluency and role-specific skills, ensuring they
          connect with clients on a deeper level, setting them apart in the
          industry.
        </p>
      </div>
    </div>

    <!-- right section -->
    <div class="right-side"></div>
  </div>
</div>

<!-- process section -->

<div class="process">
  <H1>Assessment Process</H1>

  <div class="divider1"></div>

  <div class="content2">
    <!-- left section -->
    <div class="l-side"
      style="
        background-image: url('assets/verbiq/Rectangle1.png');
        min-height: 100vh;
        background-size: cover;
        background-position: center;
      "
    >
      <div class="p1">
        <h1>Personalized and Adaptive Testing:</h1>
        <p>
          Our assessments are tailored to each individual, adapting to their
          proficiency level and learning pace, ensuring accurate evaluation
          without bias.
        </p>
      </div>
      <div class="p2">
        <h1>Customized Reporting and Insights:</h1>
        <p>
          Gain valuable insights into candidates' cultural adaptability and
          communication abilities through detailed, customizable reports. Make
          informed and objective hiring decisions to build a culturally diverse
          and cohesive team.
        </p>
      </div>
    </div>


    <!-- right section -->
    <div class="r-side"
      style="
        background-image: url('assets/verbiq/Rectangle1.png');
        min-height: 100vh;
        background-size: cover;
        background-position: center;
      "
    >
      <div class="p1">
        <h1>Personalized and Adaptive Testing:</h1>
        <p>
          Our assessments are tailored to each individual, adapting to their
          proficiency level and learning pace, ensuring accurate evaluation
          without bias.
        </p>
      </div>
      <div class="p2">
        <h1>Customized Reporting and Insights:</h1>
        <p>
          Gain valuable insights into candidates' cultural adaptability and
          communication abilities through detailed, customizable reports. Make
          informed and objective hiring decisions to build a culturally diverse
          and cohesive team.
        </p>
      </div>
    </div>
>
  </div>
</div>
